* {
	font-size: 16px;
	background-color: rgb(52, 49, 49);
	color: rgb(230, 212, 212);
}
#section {
	color: rgb(230, 212, 100);
	font-style: bold;
}
#contents {
	margin: 5px 5px 5px 5px;
	padding-left: 15px;
}
table {
	border: 2px, #e0e0e0, solid;
	border-left:#e0e0e0;
	border-right:#e0e0e0;
	border-top:#e0e0e0;
	border-bottom: #e0e0e0;
	border-collapse: collapse;
	width: 1024px;
}
th {
	background-color: rgb(90, 90, 90);
	color: rgb(230, 212, 212);
}
td {
	padding-left: 10px;
	padding-right: 10px;
}